
/* Apply box-sizing globally */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.address-modal-container {
  position: fixed;
  inset: 0;
  z-index: 6;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.address-input-container {
  background-color: #fff;
  width: 90%;
  max-width: 390px;
  max-height: 90vh;
  overflow-y: auto;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.address-input-container h1 {
  color: #212121;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: none;
}

.input-container input {
  padding: 10px 14px;
  width: 100%;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  font-size: 0.95rem;
}

.input-container input:invalid {
  border-color: red;
}

.error {
  color: red;
  font-size: 0.85rem;
  margin-top: -6px;
  margin-bottom: 6px;
  text-align: left;
}

.submit {
  background-color: var(--primary-color);
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit:hover {
  background-color: black;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  gap: 10px;
}

.btn-container button {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--secondary-background-color);
  transition: background-color 0.3s;
  cursor: pointer;
}

.btn-container button:hover {
  background-color: var(--secondary-background-color-onhover);
}